<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<body>
<!-- Definindo o fragmento chamado 'minha-navbar' -->
<nav th:fragment="meu-navbar-pri" class="navbar navbar-expand-lg navbar-dark navbar-blue-per fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand align-items-center" href="#">
                <img src="logo.png" alt="Logo da Empresa" width="50" class="me-2 img-fluid border rounded shadow">
                <span> Sistema de Controle de Tarefas </span>
            </a>
        </div>
</nav>

</body>
</html>