<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Ordem de Serviço</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<style>
    span {
        font-family: Calibri;
    }

    .table-personal {
        background-color: #6c757d;
        color: white;
    }

    .navbar-blue-per {
        background-color: #052C65;
    }

    h2 {
        letter-spacing: 2px;
        word-spacing: 6px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        margin-top: 40px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: medium;
        letter-spacing: 2px;
        word-spacing: 6px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        /*margin-top: 40px;*/
        /*margin-bottom: 20px;*/
    }
    .form-control, .form-select, textarea {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s ease-in-out;
    }

    .form-control:focus, .form-select:focus, textarea:focus {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        border-color: #0d6efd;
    }

    .form-select, .form-label, .form-control, .form-check {
        font-size: smaller;
    }

    .container-custom, .container-check {
        max-width: 1000px;
        width: 100%;
    }

</style>
<body class="container py-5">

<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark navbar-blue-per fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand align-items-center" href="#"><span> Sistema de Controle de Tarefas </span></a>
    </div>
</nav>

<h2 class="text-center mt-5 mb-5"> Cadastro de Ordem de Serviço </h2>


<form th:action="@{/salvarordemservico}"
      th:object="${ordemservico}"
      method="post"
      class="form-container border rounded shadow row g-2 needs-validation" novalidate>

    <div class="container-custom border rounded mx-auto">
        <div class="row">
            <h2></h2>

            <!-- Data de Cadastro Invisivel-->
            <input type="hidden" id="dtcadastro" name="dtcadastro">

            <!-- Ordem Status Invisivel-->
            <input type="hidden" id="ordemstatus" name="ordemstatus" th:value="Aberto">

            <!-- Ordem Status Invisivel-->
            <input type="hidden" id="ordem" name="ordem" th:value="1">

            <!-- Responsavel Invisivel-->
            <input type="hidden" id="responsavel" name="responsavel" th:value="Alexandre">

            <!-- Usuario Invisivel-->
            <input type="hidden" id="usuario" name="usuario" th:value="Alexandre">

            <!--Nome do Cliente-->
            <div class="col-md-12">
                <label for="cliente" class="form-label">Cliente</label>
                <select class="form-select" id="cliente" name="cliente" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option th:each="c : ${cliente}" th:value="${c.nome}" th:text="${c.nome}"></option>
                </select>
                <div class="invalid-feedback">Informe um Cliente.</div>
            </div>

            <!--Nome do Sistema-->
            <div class="col-md-6">
                <label for="sistema" class="form-label">Sistema</label>
                <select class="form-select" id="sistema" name="sistema" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option th:each="s : ${sistema}" th:value="${s.nome}" th:text="${s.nome}"></option>
                </select>
                <div class="invalid-feedback">Informe um Sistema.</div>
            </div>

            <!--Nome do Modulo-->
            <div class="col-md-6">
                <label for="modulo" class="form-label">Modulo</label>
                <select class="form-select" id="modulo" name="modulo" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option th:each="m : ${modulo}" th:value="${m.descmodulo}" th:text="${m.descmodulo}"></option>
                </select>
                <div class="invalid-feedback">Informe um Modulo.</div>
            </div>

            <!--Nome do Módulo (dependente do Sistema)-->
<!--            <div class="col-md-6">-->
<!--                <label for="modulo" class="form-label">Módulo</label>-->
<!--                <select class="form-select" id="modulo" name="modulo" required>-->
<!--                    <option value="" disabled selected>Selecione um sistema primeiro</option>-->
<!--                </select>-->
<!--                <div class="invalid-feedback">Informe um Módulo.</div>-->
<!--            </div>-->

            <!-- Titulo do Serviço -->
            <div class="col-md-6">
                <label for="titulo" class="form-label"> Titulo </label>
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Digite um Titulo">
            </div>

            <!-- Serviço -->
            <div class="col-md-12">
                <label for="servico" class="form-label" >Descrição do Serviço</label>
                <textarea class="form-control" id="servico" nome="servico" rows="5"
                          placeholder="Campo para descrição do serviço"></textarea>
            </div>
            <h2></h2>
        </div>
    </div>

    <div class="container-check text-center align-items-center border rounded mx-auto">
        <div class="row">
            <h2></h2>

            <!--Setor-->
            <div class="col-md-4">
                <label for="setor" class="form-label"> Setor </label>
                <select class="form-select" id="setor" name="setor" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option value="0">Administrativo</option>
                    <option value="1">Programação</option>
                    <option value="2">Suporte</option>
                </select>
                <div class="invalid-feedback">Informe um Setor.</div>
            </div>

            <!--Prioridade-->
            <div class="col-md-4">
                <label for="setor" class="form-label"> Prioridade </label>
                <select class="form-select" id="prioridade" name="prioridade" required>
                    <option value="" disabled selected>Selecione...</option>
                    <option value="Baixa">Baixa</option>
                    <option value="Media">Média</option>
                    <option value="Alta">Alta</option>
                </select>
                <div class="invalid-feedback">Informe um Setor.</div>
            </div>

            <h2></h2>
        </div>
    </div>

    <!-- Botões -->
    <div class="col-12 d-flex justify-content-end mt-4">
        <button type="submit" class="btn btn-primary m-2"><i class="bi bi-save m-2"></i> Salvar</button>
        <button type="reset" class="btn btn-danger m-2"><i class="bi bi-x-circle m-2"></i> Limpar</button>
        <a th:href="@{/listaordemservico}" class="btn btn-secondary m-2"><i class="bi bi-arrow-left m-2"></i> Voltar </a>
    </div>
</form>

<!-- Rodapé-->
<div th:insert="fragments/footer :: footer"></div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

<script>
    // Script para ativar validação Bootstrap
    (() => {
        'use strict';
        const forms = document.querySelectorAll('.needs-validation');
        Array.from(forms).forEach(form => {
            form.addEventListener('submit', event => {
                if (!form.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
            }, false);
        });
    })();
</script>

<script>
    // Data do dia
    document.addEventListener("DOMContentLoaded", () => {
        const hoje = new Date();
        const dataHoraFormatada = hoje.toISOString().slice(0,10); // yyyy-MM-dd
        document.getElementById("dtcadastro").value = dataHoraFormatada;
    });
</script>

<!--<script>-->
<!--    // Exemplo de módulos por sistema-->
<!--    const modulosPorSistema = {-->
<!--        "ERP": ["Financeiro", "Estoque", "Compras", "Vendas"],-->
<!--        "CRM": ["Clientes", "Marketing", "Suporte"],-->
<!--        "RH": ["Folha de Pagamento", "Treinamento", "Recrutamento"]-->
<!--    };-->

<!--    document.getElementById("sistema").addEventListener("change", function () {-->
<!--        const sistemaSelecionado = this.value;-->
<!--        const moduloSelect = document.getElementById("modulo");-->

<!--        // Limpa opções anteriores-->
<!--        moduloSelect.innerHTML = '<option value="" disabled selected>Selecione</option>';-->

<!--        if (modulosPorSistema[sistemaSelecionado]) {-->
<!--            modulosPorSistema[sistemaSelecionado].forEach(modulo => {-->
<!--                const option = document.createElement("option");-->
<!--                option.value = modulo;-->
<!--                option.textContent = modulo;-->
<!--                moduloSelect.appendChild(option);-->
<!--            });-->
<!--        }-->
<!--    });-->
<!--</script>-->

</body>
</html>